<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <link
    href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
    rel="stylesheet"
  />
  <link
    href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
    rel="stylesheet"
  />
  <link
    href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap&subset=japanese"
    rel="stylesheet"
  />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="./js/merged.js"></script>
  <title>日本大都市気候比較</title>
</head>
<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-container>
          <v-app-bar color="red darken-4" app dark>
            <v-toolbar-title class="title"
              >東名阪札仙広福の気候を比べよう
              <a href="https://github.com/azureleaf/japan-city-climate"
                >azureleaf@GitHub</a
              ></v-toolbar-title
            >
          </v-app-bar>
          <v-card>
            <v-card-text>
              <v-row>
                <v-col>
                  <v-select
                    :items="dataTypes"
                    v-model="typeSelected"
                    label="気候指標"
                  ></v-select>
                </v-col>
                <v-col>
                  <v-select
                    :items="years"
                    v-model="start.year"
                    label="開始年"
                    @change="updateMonthsList()"
                  ></v-select>
                </v-col>
                <v-col>
                  <v-select
                    :items="monthsList.start"
                    v-model="start.month"
                    label="開始月"
                  ></v-select>
                </v-col>
                <v-col>
                  <v-select
                    :items="years"
                    v-model="end.year"
                    label="最終年"
                    @change="updateMonthsList()"
                  ></v-select>
                </v-col>
                <v-col>
                  <v-select
                    :items="monthsList.end"
                    v-model="end.month"
                    label="最終月"
                  ></v-select>
                </v-col>
                <v-col>
                  <v-btn color="primary" large @click="getChart()"
                    >表示更新</v-btn
                  >
                </v-col>
              </v-row>
              <canvas id="chartArea"></canvas>
            </v-card-text>
          </v-card>
        </v-container>
      </v-content>
    </v-app>
  </div>
  <!-- <script src="./js/vue.min.js"></script> -->
  <script src="./js/Chart.min.js"></script>
  <script src="./js/vis-chart.js"></script>
  <script>
    new Vue({
      el: "#app",
      vuetify: new Vuetify(),
      data() {
        return {
          dataTypes: Object.values(DTYPES),
          years: Object.keys(MONTHS),
          monthsList: { start: [], end: [] }, // [1, 2...12] at most
          start: { year: "2015", month: "4" },
          end: { year: "2020", month: "3" },
          typeSelected: "夏日",
        };
      },
      computed: {
        typeSelectedEn() {
          const index = Object.values(DTYPES).indexOf(this.typeSelected);
          return Object.keys(DTYPES)[index];
        },
      },
      methods: {
        // Render new chart with the params supplied
        getChart() {
          render(
            this.typeSelectedEn,
            this.start.year + "-" + this.start.month,
            this.end.year + "-" + this.end.month
          );
        },
        updateMonthsList() {
          // Update the list of months (1-12 at most) for the year
          // Some years don't have whole 12 months,
          // therefore we need to check original data
          this.monthsList.start = MONTHS[this.start.year];
          this.monthsList.end = MONTHS[this.end.year];
        },
      },
      mounted() {
        this.updateMonthsList();
        this.getChart();
      },
    });
  </script>
</body>
